
.swc-uppercase {
	text-transform: uppercase;
}
.swc-divider {
	width: 1px;
	line-height: 1.5em;
	color: #eee;
}
.swc-text-success {
	color: #69b241;
}
.swc-text-danger {
	color: #DA4848;
}
.swc-text-warning {
	color: #BDA309;
}
.swc-text-center {
	text-align: center;
}