.swc-top-bar {
	// display: none;
	position: absolute;
	width: 100%;
	height: $header-height;
	top: 0;
	padding: 5px 10px;
	// background-color: rgba(0,0,0,0.5);
	box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.15);
	color: #fff;
	z-index: 100;
	@extend %clearfix;

	h3 {
		margin: 0;
	}

	.swc-wg-title {
		width: 225px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.swc-wg-state-cont {
		.swc-wg-state-icon {
			display: inline-block;
			width: 9px;
			height: 9px;
			border-radius: 50%;
		}
	}
	
	.swc-wg-minimize {
		position: absolute;
		top: 9px;
		right: 5px;

		a {
			text-decoration: none;
			font-size: 16px;
			margin-left: 2px;
			padding: 10px;
			// color: #fff;
		}
	}
}

.swc-wg-panes {
	display: none;
	position: relative;
	bottom: 0;
	width: $wg-width;
	max-width: 100%;
	max-height: 100%;
	// border: 1px solid #eee;
	background-color: #f7f7f7;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	overflow: hidden;
	// height: 100%;	

	/* Larger than mobile */
	@include bp-small {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 0;
		box-shadow: none;
		width: auto;
		// height: 100%;
		// width: 100%;
	}

	.swc-wg-pane {
		position: relative;
		display: none;
		padding-top: $header-height;
		width: 100%;
		height: 100%;
		// overflow-y: auto;
		// max-height: 100%;
		// padding-bottom: 20px;
		// background-color: #f7f7f7;
		
		&[data-swc-pane="messages"] {
			padding-bottom: 50px;
		}

		&.active {
			display: block;
		}

		h3 {
			font-weight: 100;
		}

		.swc-backdrop-cont {
			position: relative;
			// height: 100%;
			// min-height: 120px;
			padding: 10px;

			// &.swc-dark {
			// 	background-color: #333;
			// 	background-color: rgba(0,0,0,.5);
			// 	box-shadow: 0 -30px 100px -30px #333 inset;
			// 	color: #fff;
			// }
			// &.swc-white {
			// 	background-color: #fff;
			// 	background-color: rgba(255,255,255,.6);
			// 	color: #333;
			// }
		}

		.swc-social-list {
			position: relative;
			margin-top: 25px;
		}

		.swc-pane-header {
			position: relative;
			// min-height: 120px;
			overflow: hidden;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			// background-image: url("images/bgr-01.jpg");
		}

		.swc-pane-body {
			padding: 10px;
		}

		.swc-pane-footer {
			padding: 10px;
			border-top: 1px solid #eee;
		}

		.swc-messages-cont {
			height: $wg-height;
			// margin-bottom: 40px;
			padding: 0 10px 50px;
			overflow-y: auto;

			@include bp-small {
				height: 100%;
			}

			li {
				margin: 15px 0;
				@extend %clearfix;

				.swc-message {

					@include animation(newMessage 0.4s ease-in-out);

					.swc-message-from,
					.swc-message-time {
						display: block;
					}					

				    .swc-message-from {
						font-size: 14px;
						font-weight: 600;
				    	color: #555;
				    }

				    .swc-message-time {
				    	display: block;
				    	margin: 0 10px;
				    	font-weight: 600;
				    	font-size: 11px;
				    	color: #aaa;
				    }
				}

				.swc-message-content {
					display: inline-block;
					font-size: 14px;
					line-height: 1.42857143;
					max-width: 90%;
					margin: 0;
					padding: 15px;
					border-radius: $border-radius;
					// border-width: 1px;
					// border-style: solid;
					background-color: #fff;
					overflow: hidden;

					img {
						max-width: 180px;
					}

					p {
						margin: 0;
					}
				}

				.swc-user-msg {
					text-align: right;
					// span {
					// 	float: right;
					// }
					.swc-message-content {
						// float: right;
						border-top-right-radius: 0;
						border-color: $secondary-color;
					}
				}

				.swc-agent-msg {
					text-align: left;

					// span {
					// 	float: left;
					// }
					.swc-message-content {

						// float: left;
						border-top-left-radius: 0;
						border-style: solid;
						border-width: 1px;
					}
				}
			}
		}

		.swc-write-cont {
			position: absolute;
			display: table;
			bottom: 0;
			// padding: 5px;
			width: 100%;
			background-color: #fff;
			z-index: 100;
			text-align: center;
			box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.15);

			.swc-action-btns {
				position: absolute;
				top: -30px;
				width: 100%;

				a {
					position: relative;
					text-decoration: none;
					margin: auto;
					padding: 5px 25px;
					background-color: #fff;
					color: #555;
					border-radius: 20px;
					box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.15);
				}
			}

			.swc-sendmsg-btn,
			.swc-sendfile-cont {
				position: absolute;
				top: 0;
				// display: table-cell;
				padding: 14px;
				vertical-align: middle;
				z-index: 200;
			}

			.swc-sendfile-cont {
				// position: relative;
				left: 0;
				overflow: hidden;
				cursor: pointer;

				input[type="file"] {
					position: absolute;
					display: none;
				}
			}

			.swc-sendmsg-btn {
				right: 0;
			}
		}

		.swc-msg-textarea,
		.swc-msg-textarea-clone,
		textarea {
			font: 14px $font-stack;
			display: block;
			width: 100%;
			// height: 50px;
			max-height: 200px;
			min-height: 50px;
			margin: 0;
			padding: 10px 40px;
			// padding: 6px 10px;
			font-size: 14px;
			text-align: left;
			word-wrap: break-word;

			background-color: #fff;
			border: none;
			border-top: 1px solid #fff;
			box-shadow: none;
			resize: none;
			outline: none;
			z-index: 100;
			-webkit-transition: border-color 0.3s;
    		transition: border-color 0.3s;
		}

		.swc-msg-textarea-clone {
			visibility: hidden;
			position: absolute;
			white-space: pre-wrap;
		}

		@include bp-small {
			.swc-msg-textarea,
			.swc-msg-textarea-clone {
				height: 60px;
				font-size: 16px;
			}
		}

		.swc-inputfile {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}

		.swc-inputfile + label {
		    display: inline-block;
			width: 100%;
			margin-bottom: 10px;
			padding: 6px 10px;
		    font-size: 14px;
		    font-weight: 600;
		    color: #555;
		    background-color: #fff;
		    border: 1px solid #BBBBBB;
		    border-radius: 4px;
		    cursor: pointer;

		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}

		.swc-inputfile:hover + label {
			background-color: #eee;
		}

		.swc-inputfile:focus + label {
			outline: 1px dotted #000;
			outline: -webkit-focus-ring-color auto 5px;
		}
	}

	.swc-spinner-pane {
		min-height: 200px;
		padding-top: 50px;
	}
}