
$wg-height: 455px;
$wg-width: 270px;
$btn-width: 55px;
$btn-height: 55px;
$font-stack: "Trebuchet MS", Helvetica, sans-serif;
$btn-color-online: rgba(175,229,255,0.8);
$btn-icon-online: '\e902';
$btn-icon-color-online: '';
$btn-color-offline: rgba(241,241,241,0.8);
$btn-icon-offline: '\e900';
$btn-icon-color-offline: '';
$btn-color-timeout: rgba(241,241,241,0.8);
$btn-icon-timeout: '\e902';
$btn-icon-color-timeout: '';
$btn-color-notified: rgba(253,250,129,0.8);
$btn-icon-notified: '\e901';
$btn-icon-color-notified: '';
$btn-color-chat: rgba(175,229,255,0.8);
$btn-icon-chat: '\e903';
$btn-icon-color-chat: '';
$btn-icon-color: #777;
$primary-color: #33C3F0;
$secondary-color: #BBBBBB;

@import 'fonts';
@import 'mixins';
@import 'functions';
@import 'animation';
@import 'button';
@import 'panes';
@import 'form';
@import 'helpers';

// Popup window styles
#swc-wg-window .swc-wg-cont {
	position: absolute;
	right: 0;

	.swc-wg-panes {
		height: 100%;
		width: 100%;
	}
	// &.active {
	// 	@include bp-small {
	// 		height: 100%;
	// 		box-shadow: none;
	// 		left: 0;
	// 		-webkit-overflow-scrolling: touch;
	// 	}
	// }
}

.swc-wg-cont {
	font: 14px $font-stack;
	position: fixed;
	bottom: 0;
	z-index: 99999;

	&.position-right {
		right: 10px;
		transform-origin: right bottom;
		.swc-btn-cont {
			right: 5px;
		}
		.swc-btn-link {
			float: right;
		}
		.swc-lastmsg,
		.swc-unnotify-btn {
			left: 0;
		}
	}
	&.position-left {
		left: 10px;
		transform-origin: left bottom;
		.swc-btn-cont {
			left: 5px;
		}
		.swc-btn-link {
			float: left;
		}
		.swc-lastmsg,
		.swc-unnotify-btn {
			right: 0;
		}
	}

	* {
		box-sizing: border-box;
	}

	h3, h4, h5{
		margin: 5px 0;
		font-weight: bold;
		line-height: normal;
		letter-spacing: normal;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 14px;
	}
	p {
		margin: 10px 0;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		&.swc-nav-list li{
			display: inline-block;
			margin: 5px;
		}

		&.swc-social-list {
			li a {
				list-style: none;
				text-decoration: none;
				padding: 4px 10px;
				border-radius: 50%;
				border: 2px solid #fff;
				color: #fff;
				
			}
		}
	}

	a.swc-button {
		text-decoration: none;
	}

	&.active {
		border: 1px solid #eee;
		background-color: #f7f7f7;
		@include animation(show 0.2s ease-in-out);

		/* Larger than mobile */
		@include bp-small {
			width: 100%;
			height: 100%;
			left: 0;
			// box-shadow: 0 0 35px;
			-webkit-overflow-scrolling: touch;
		}

		.swc-wg-btn {
			display: none;
		}
		.swc-wg-panes {
			display: block;
		}
	}
	&.offline {
		.swc-wg-btn {
			// background-color: $btn-color-offline;

			// .swc-btn-icon {
			// 	color: $btn-icon-color-offline;
			// }
			.swc-btn-icon:before {
				content: $btn-icon-offline;
			}
		}
	}
	&.online {
		.swc-top-bar {
			background-color: #fff;
			color: #333;

			.swc-wg-minimize a {
				color: #333;
			}
		}
		.swc-wg-btn {
			// background-color: #AFE5FF;
			// background-color: $btn-color-online;

			// .swc-btn-icon {
			// 	color: $btn-icon-color-online;
			// }
			.swc-btn-icon:before {
				content: $btn-icon-online;
			}
		}
		.swc-wg-pane {
			padding-top: 40px;
		}
	}
	&.notified {

		.swc-wg-btn {
			width: 290px;
			overflow: auto;
			// background-color: #FDFA81 !important;
			// background-color: $btn-color-notified !important;

			// .swc-btn-icon {
			// 	color: $btn-icon-color-notified !important;
			// }
			.swc-btn-icon:before {
				content: $btn-icon-notified !important;
			}
		}
		.swc-lastmsg {
			display: block;
			width: 230px;
			@include animation(newMessageNoify 1s ease-in-out);
		}
		.swc-unnotify-btn {
			opacity: 1;
			@include transform(translateY(0));
		}
	}
	&.timeout {
		.swc-wg-btn {
			// background-color: #F1F1F1;
			// background-color: $btn-color-timeout;
			// .swc-btn-icon {
			// 	color: $btn-icon-color-timeout;
			// }
			.swc-btn-icon:before {
				content: $btn-icon-timeout;
			}
		}
	}
	&.chat {
		.swc-wg-btn {
			// background-color: $btn-color-chat;
			// .swc-btn-icon {
			// 	color: $btn-icon-color-chat;
			// }
			.swc-btn-icon:before {
				content: $btn-icon-chat;
			}
		}
	}
	&.agent-typing {
		.swc-loader {
			display: block !important;
		}
	}
	&.type-extend {
		.swc-msg-textarea {
			height: 80px;
		}
		.swc-messages-cont {
			padding-bottom: 80px;
		}
	}
	&.no-button {
		.swc-btn-cont {
			display: none;
		}
	}
}