<div class="<%- defaults.prefix %>-message <%- defaults.prefix %>-<%- message.entity %>-msg">
	<span class="<%- defaults.prefix %>-message-from"><%- message.from %></span>
	<div class="<%- defaults.prefix %>-message-content" <% if(message.entity === "user") { %> style="border-color:'<%- defaults.styles.primary.backgroundColor %>" <% } %>>
		<form id="<%- defaults.prefix %>-<%- form.name %>" name="<%- form.name %>" <% if(form.autocomplete){ %>autocomplete="on"<% } %> data-validate-form="true">
			<% if(form.description) { %>
				<p style="margin: 10px 0"><%= frases.FORMS.DESCRIPTIONS[form.description] || form.description %></p>
			<% } %>
			<% _.forEach(form.fields, function(item){ %>
				<% if(item.type === 'select') { %>
					<select name="<%- item.name %>">
						<% _.forEach(item.options, function(option) { %>
							<option value="<%- option.value %>" <% if(option.selected) { %> selected <% } %> >
								<%- frases.FORMS.PLACEHOLDERS[option.text] || option.text %>
							</option>
						<% }); %>
					</select>
				<% } else if(item.type === 'textarea') { %>
					<textarea 
						name="<%- item.name %>"
						placeholder="<%= frases.FORMS.PLACEHOLDERS[item.placeholder] || frases.FORMS.PLACEHOLDERS[item.name] %> <% if(item.required){ %>*<% } %>"
					></textarea>
				<% } else { %>
					<input 
						type="<%= item.type || 'text' %>"
						placeholder="<%= frases.FORMS.PLACEHOLDERS[item.placeholder] || frases.FORMS.PLACEHOLDERS[item.name] %> <% if(item.required){ %>*<% } %>"
						name="<%- item.name %>" <% if(item.value){ %>
						value="<%- credentials[item.value] %>" <% } %> <% if(item.required){ %>required<% } %>
					/>
				<% } %>
			<% }); %>
			<button 
				type="submit"
				class="<%- defaults.prefix %>-button <%- defaults.prefix %>-button-primary <%- defaults.prefix %>-block"
				style="background-color: <%- defaults.styles.primary.backgroundColor %>; color: <%- defaults.styles.primary.color %>; border: 1px solid <%- defaults.styles.primary.backgroundColor %>;"><%- frases.FORMS.send %></button>
			<button
				class="<%- defaults.prefix %>-button <%- defaults.prefix %>-block"
				data-<%- defaults.prefix %>-handler="rejectForm"><%- frases.FORMS.cancel %></button>
		</form>
	</div>
	<span class="<%- defaults.prefix %>-message-time"> <%- message.time %></span>
</div>